.main-container {
    height: calc(100vh - 100px);
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}